body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.274) 2px 2px 15px;
    border-radius: 5px;
    width: 25%;
    height: 65vh;
    padding: 20px;
    margin-top: 60px;
  }
  .card h1 {
    margin: 0;
  }
  
  .form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #mailphone,
  #password {
    padding: 20px;
    width: 80%;
    border-radius: 5px;
    margin: 10px;
    border: 0.5px black solid;
  }
  a {
    padding: 10px;
  }
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
  }
  #sign-in {
    border: none;
    background-color: blue;
    border-radius: 25px;
    padding: 15px;
    width: 85%;
    color: white;
  }
  #sign-in:hover {
    background-color: rgb(22, 22, 66);
  }
  #apple,
  #other {
    border: 2px black solid;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    padding: 15px;
    width: 85%;
    margin: 10px;
  }