* {
    margin: 0;
    padding: 0;
    background-color: rgb(116, 116, 116);
}
.chessboard{
    width: 640px;
    height: 640px;
    margin: 20px;
    border: 25px solid #333;
    left: 25%;
    position: absolute;
}
.black{
    width: 80px;
    height: 80px;
    float: left;
    background-color: #999;
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
}
.white{
    width: 80px;
    height: 80px;
    float: left;
    background-color: fff;
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
}